@use "./variables";

.display {
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: variables.$white;
  align-self: flex-end;
  height: 8rem;
  &__sect {
    font-size: 2.5rem;
    font-weight: 300;

    &--small {
      font-size: 1rem;
      color: variables.$dark-gray;
    }
  }

}


